* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.heading {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Manrope', sans-serif;
  padding: 0 20px;
}

.events-container {
  padding: 20px 0 80px;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);

}

.slider {
  margin-top: 10px;
  margin-bottom: 40px;
}

.tui-carousel {
  display: flex;
  justify-content: center; /* Центрируем весь слайдер */
}

.tui-island {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 340px;
  height: 250px;
  padding: 10px;
  border-radius: 12px;
  background-color: #fff;
  margin: 0 auto; /* Центрируем элемент в слайдере */
}

.carousel-item img {
  width: 140px;
  height: 170px;
  object-fit: cover;
  border-radius: 10px;
}

.event-info {
  text-align: left;
  margin-top: 10px;
}

.event-info h3 {
  font-size: 14px;
  font-weight: bold;
}

.event-info p {
  font-size: 10px;
  color: #555;
}

.filters {
  height: 32px;
  width: 100%;
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
  align-items: center;
  justify-content: center;
}

.filter-search {
  width: 100%;
  height: 32px;
}



.event-list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.event-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 340px;
  height: 250px;
  padding: 10px;
  border-radius: 12px;
  background-color: #fff;
}

.event-item:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.event-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.event-info {
  margin-top: 15px;
  text-align: center;
}

.event-info h3 {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.event-info p {
  font-size: 14px;
  color: #777;
}

.filters tui-input,
.filters tui-select {
  flex-grow: 1;
  max-width: 300px;
  height: 32px;
  align-items: center;
  width: 100%; /* Занимает всю доступную ширину */
  min-width: 250px; /* Минимальная ширина */
}

.filters tui-input {
  margin-bottom: 16px; /* Отступ между поиском и фильтром */
}

tui-pagination {
  margin-top: 10px;
}

.create-event-btn {
  display: block;
  width: 100%; /* Кнопка будет занимать всю доступную ширину */
  max-width: 300px; /* Максимальная ширина кнопки */
  padding: 14px 30px; /* Увеличиваем размер кнопки */
  font-size: 16px; /* Увеличиваем размер шрифта */
  border-radius: 8px; /* Убираем или увеличиваем радиус скругления */
  background-color: #FF9B40		; /* Цвет фона */
  color: white; /* Цвет текста */
  border: none; /* Убираем рамку */
  cursor: pointer; /* Курсор при наведении */
  box-shadow: 0 4px 12px rgba(37, 99, 235, 0.3); /* Добавляем теневой эффект */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Плавные переходы */
  margin: 20px auto; /* Центрируем кнопку и добавляем отступ сверху и снизу */
}

.create-event-btn:hover {
  background-color: #1d4ed8; /* Меняем цвет фона при наведении */
  transform: scale(1.05); /* Легкое увеличение при наведении */
}

.create-event-btn:active {
  background-color: #1d4ed8; /* Цвет фона при клике */
  transform: translateY(2px); /* Псевдокнопка с анимацией нажатия */
}
