* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Manrope', sans-serif;
  padding: 0 20px;
  color: white;
}

.books-container {
  height: 100%;
  padding: 20px 0 80px;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);

}

.slider {
  margin-top: 10px;
  margin-bottom: 40px;
}

.catalog {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Для каждого элемента в карусели */
.tui-island {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 160px;
  height: 250px;
  padding: 10px;
  border-radius: 12px;
  background-color: #fff;
}

.carousel-item img {
  width: 140px;
  height: 170px;
  object-fit: cover;
  border-radius: 10px;
}

.book-info {
  text-align: left;
  margin: 5px 0 0 0;
}

.book-info h3 {
  font-size: 14px;
  font-weight: bold;
}

.book-info p {
  font-size: 8px;
  color: #555;
}

tui-pagination {
  margin-top: 10px;
}

.filters {
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  align-items: center;
}

.filter-search {
  width: 100%;
  height: 32px;
}

.catalog {
  width: 100%;
}

.tui-select {
  width: 100%; /* Занимает всю доступную ширину */
  min-width: 250px; /* Минимальная ширина */
  height: 32px; /* Устанавливаем высоту */
}

.tui-select .tui-select-dropdown {
  width: 100%; /* Растягивает раскрытый список */
  min-width: 250px; /* Минимальная ширина для выпадающего списка */
}

.filters tui-input,
.filters tui-select {
  flex-grow: 1;
  max-width: 300px;
  height: 32px;
  align-items: center;
  width: 100%; /* Занимает всю доступную ширину */
  min-width: 250px; /* Минимальная ширина */
}



/* Книги, два в ряд */
.book-list {
  margin: 20px auto 20px;
  display: grid; /* Используем Grid Layout */
  grid-template-columns: repeat(2, 1fr); /* Два элемента в ряд */
  gap: 20px; /* Расстояние между элементами */
  justify-items: center; /* Центрируем элементы в ячейках */
  overflow-y: auto; /* Позволяет прокручивать контейнер */
  max-height: 500px; /* Максимальная высота для прокрутки */
}

.book-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 160px;
  height: 250px;
  padding: 10px;
  border-radius: 12px;
  background-color: #fff;
}

.book-item:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.book-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.filters tui-input {
  margin-bottom: 16px; /* Отступ между поиском и фильтром */
}
