p {
    margin: 0;
    margin-bottom: 20px;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
    padding-right: 20px;
}

.map-container {
    width: 100%;
}