.home-container {
  min-height: 100vh;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  padding: 20px 0px 0px 20px;
  z-index: 100;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  height: 50px;
  width: auto;
}

.site-title {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.hero-section {
  height: 700px;
  background-image: url('../../../../public/assets/backgroundimage.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left; /*zdes*/
}

.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
  padding-left: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.hero-title {
  color: white;
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 1.25rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  line-height: 1.2;
  text-align: left;
}

.changing-word {
  display: inline-block;
  color: #ffd700;
  min-width: 200px;
  text-align: left;
  font-size: 2.5rem;
  font-weight: 400;
}

.content-section {
  padding: 60px 20px;
  background: white;
}

/* Медиа-запросы для адаптивности */
@media (max-width: 768px) {
  .hero-title {
    font-size: 2.5rem;
  }
}

@media (max-width: 480px) {
  .hero-title {
    font-size: 2rem;
  }
}

.login-btn {
  width: 100px;
  height: 50px;
  border-radius: 8px;
  margin-bottom: 1.25rem;
}

.login-btn:hover {
  width: 100px;
  height: 50px;
  border-radius: 8px;
  cursor: pointer;
}

.warn-text {
  width: 75%;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  color: white;
}

.card-icon {
  display: flex;
}

.card-icon h3 {
  margin: 0;
  font-size: 18px;
}

.info-card {
  margin-bottom: 28px;
}

.card-text {
  margin: 0;
}
