* {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

.mobile-header {
  height: 70px;
  width: 70%;
  padding: 20px 0px 0px 20px;
  z-index: 100;
  background: transparent;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.site-title {
  color: black;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

/* Убираем стили у ссылки */
a {
  text-decoration: none; /* Убираем подчеркивание */
  display: flex;         /* Делаем ссылку блочным элементом, как контейнер */
  align-items: center;   /* Выравниваем по вертикали */
  gap: 15px;             /* Сохраняем отступы между логотипом и текстом */
}

a:hover {
  text-decoration: none; /* Убираем подчеркивание при наведении */
}
