* {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  padding: 20px 0px 0px 20px;
  z-index: 100;
  background: transparent;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  height: 50px;
  width: auto;
}
